$primary-font: "Raleway";
$vampire-black: #080808;
$Harvest-Gold:#da9100;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $vampire-black;
}

.wrapper {
    font-family: $primary-font;
    font-weight: 400;
}

nav {
    background-color: $vampire-black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;

    .mainMenu {
        display: flex;
        list-style: none;

        li a {
            display: inline;
            text-decoration: none;
            color: white;
            font-size: 25px;
            margin-right: 20px;
        }

        li a:hover {
            color: $Harvest-Gold;
        }
    }

    .openMenu {
        font-size: 2rem;
        margin: 20px;
        display: none;
        cursor: pointer;
    }

    .logo span {
        margin-left: 20px;
        font-size: 38px;
        font-weight: 300;
    }

    .icons i {
        font-size: 2rem;
        display: none;
        cursor: pointer;
    }

    .closeMenu {
        display: none;
    }

    .fa-facebook:hover {
        color: #4267B2;
    }

    .fa-instagram:hover {
        color: #C13584;
    }

    .fa-twitter:hover {
        color: #00acee;
    }

    .fa-github:hover {
        color: orange;
    }
}

.first-container-header {
    display: flex;
    margin-top: 100px;
    padding: 20px;

    .photo-div {
        position: relative;
        border-radius: 10px;
        background-image: url(/assets/img/IMG_3822.jpeg);
        height: 400px;
        width: 400px;
        background-size: cover;
        background-position: center bottom;
        margin: auto;

        h1 {
            display: flex;
            justify-content: start;
            position: absolute;
            top: 100%;
            font-size: 27px;
            color: white;
            font-weight: 400;
        }
    }
}


.second-container-header {
    color: white;
    margin-top: 75px;
    font-weight: 300;
    font-size: 15px;
}

#about-me {
    margin-top: 100px;
    height: 800px;
    overflow: hidden;

    .third-container-header {
        p {
            color: $Harvest-Gold;
            font-weight: 600;
            font-size: 35px;
            margin-left: 10px;
        }
    }

    article {
        color: white;
        font-weight: 400;
        

        section {
            font-size: 25px;
            font-weight: 400;
            margin-left: 10px;
        }

        p {
            color: white;
            font-weight: 300;
            font-size: 18px;
            line-height: 2.5rem;
            margin-left: 10px;
        }

        a {
            text-decoration: none;
            color: orange;
        }

        a:hover {
            opacity: .5;
        }
    }

    .icons {
        position: relative;
        left: 20px;
        top: 30px;
        font-size: 25px;
        color: white;

        p{
            font-size: 15x;
            margin-right: 20px;
            font-weight: 600;
        }

        .fa-github {
            margin-right: 75px;
        }

        .fa-instagram {
            margin-right: 75px;
        }

        .fa-twitter {
            margin-right: 75px;
        }

        .fa-facebook:hover {
            color: #4267B2;
        }

        .fa-instagram:hover {
            color: #C13584;
        }

        .fa-twitter:hover {
            color: #00acee;
        }

        .fa-github:hover {
            color: orange;
        }

        .fa-facebook:active {
            opacity: .5;
        }

        .fa-instagram:active {
            opacity: .5;
        }

        .fa-twitter:active {
            opacity: .5;
        }

        .fa-github:active {
            opacity: .5;
        }
    }

}

#portfolio{
    
    height: 500px;
}





/*@MEDIA NAV*/

@media only screen and (max-width: 800px) {
    nav {
        .mainMenu {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0px;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            opacity: .9;
            transition: top 1s ease;
            display: none;

            li a {
                font-size: 30px;
                position: relative;
                left: 5%;
                top: 90%;
            }

            .closeMenu {
                position: relative;
                top: 40%;
            }
        }

        .closeMenu {
            display: block;
            font-size: 40px;
        }

        .openMenu {
            display: block;
        }

        .openMenu .fa:active {
            font-size: 2.1rem;
            opacity: .8;
        }

        .mainMenu li a:hover {
            background: none;
            color: $Harvest-Gold;

        }

        .mainMenu li a:active {
            color: $Harvest-Gold;
            opacity: .5;
            font-size: 1.6rem;
        }

        .icons i {
            display: inline;
            padding: 15px;
        }

        .icons i:hover {
            font-size: 2.3rem;
        }

        .fa-times:hover {
            color: red;
            opacity: .5;
        }

        .fa-times:active {
            color: red;
            font-size: 1.5rem;
            opacity: .3;
        }

        .fa-minus:hover {
            opacity: .9;
        }


    }
}

/*@MEDIA PHOTO HOME*/

@media only screen and (min-width: 801px) {
    .first-container-header {
        margin-top: 100px;

        .photo-div {
            position: relative;
            border-radius: 10px;
            background-image: url(/assets/img/IMG_3822.jpeg);
            height: 400px;
            width: 400px;
            background-size: cover;
            background-position: center bottom;
            margin: auto;

            h1 {
                font-size: 27px;
                color: white;
                font-weight: 400;
                position: absolute;
                top: 100%;
            }

            .photo-div-2 {
                position: absolute;
                border-radius: 10px;
                background-image: url(/assets/img/IMG_3822.jpeg);
                height: 400px;
                width: 400px;
                background-size: cover;
                background-position: center bottom;
                bottom: 5%;
                left: 5%;
                z-index: -1;
                opacity: .6;
            }

            .photo-div-3 {
                position: absolute;
                border-radius: 10px;
                background-image: url(/assets/img/IMG_3822.jpeg);
                height: 400px;
                width: 400px;
                background-size: cover;
                background-position: center bottom;
                bottom: 10%;
                left: 10%;
                z-index: -2;
                opacity: .2;
            }
        }
    }
}

/*@MEDIA ABOUT ME*/

@media only screen and (min-width: 1200px) {
    #about-me {
        position: relative;
        margin-top: 100px;
        display: flex;
        justify-content: end;

        .third-container-header {
            width: 700px;
            height: 800px;
            background-image: url(/assets/img/IMG_3822.jpeg);
            background-size: contain;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center bottom;

            p {
                position: absolute;
                left: 1%;
                top: 1%;
                color: $Harvest-Gold;
                font-weight: 600;
                font-size: 80px;
            }
        }

        article {
            left: 1%;
            top: 18%;
            position: absolute;
            color: white;
            font-weight: 300;
            text-align: left;
            font-size: 20px;
            line-height: 3.5rem;

            a {
                text-decoration: none;
                color: orange;
            }

            a:hover {
                opacity: .5;
            }

            section {
                font-size: 40px;
                font-weight: 400;
            }

            p{
                position: absolute;
                top: 100%;
                left: 1%;
                font-size: 20px;
                font-weight: 300;
                line-height: 3.5rem;

            }
        }

        .icons {
            display: flex;
            position: absolute;
            top: 95%;
            left: 1.5%;
            font-size: 30px;
            color: white;

            p{
                font-size: 20px;
                margin-right: 20px;
                font-weight: 600;
            }

            .fa-github {
                margin-right: 20px;
            }

            .fa-instagram {
                margin-right: 20px;
            }

            .fa-twitter {
                margin-right: 20px;
            }

            .fa-facebook:hover {
                color: #4267B2;
            }

            .fa-instagram:hover {
                color: #C13584;
            }

            .fa-twitter:hover {
                color: #00acee;
            }

            .fa-github:hover {
                color: orange;
            }

            .fa-facebook:active {
                opacity: .5;
            }

            .fa-instagram:active {
                opacity: .5;
            }

            .fa-twitter:active {
                opacity: .5;
            }

            .fa-github:active {
                opacity: .5;
            }
        }

    }
}

@media only screen and (min-width: 500px) and (max-width: 1199px){
    #about-me{
        .third-container-header{
            display: flex;
            justify-content: center;
            p{
                font-size: 60px;
            }
        }
        article{
            section{
                font-size: 35px;
            }
            p{
                font-size: 25px;
                font-weight: 300;
                line-height: 3rem;
            }
        }

    }
}

/*@MEDIA PORTFOLIO*/

@media only screen and (min-width: 1200px){
    #portfolio{
        .main-container{
            position: relative;
            width: 250px;
            height: 320px;
            .python{
                position: absolute;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all 0.5 ease;
            }
            .python-front{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background: red;
                color: purple;
            }
            .python-back{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background: orange;
                color: purple;
                transform: rotateY(180deg);
            }
            .python:hover{
                transform: rotateY(180deg);
            }
        }
    }

}