$primary-font: "Raleway";
$primary-color: #080808;
$font-color: #efcb68;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
}

.wrapper {
    font-family: $primary-font;
    font-weight: 400;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;

    .mainMenu {
        display: flex;
        list-style: none;

        li a {
            display: inline;
            text-decoration: none;
            color: white;
            font-size: 25px;
            margin-right: 20px;
        }

        li a:hover {
            color: $font-color;
        }
    }

    .openMenu {
        font-size: 2rem;
        margin: 20px;
        display: none;
        cursor: pointer;
    }

    .logo span {
        margin-left: 20px;
        font-size: 38px;
        font-weight: 300;
    }

    .icons {
        i{
            font-size: 2rem;
            display: none;
            cursor: pointer;
        }

        a{
            text-decoration: none;
            color: white;
        }
    }

    .closeMenu {
        display: none;
    }

    .fa-linkedin:hover {
        color: #4267B2;
    }

    .fa-instagram:hover {
        color: #C13584;
    }

    .fa-github:hover {
        color: orange;
    }
}

.first-container-header {
    display: flex;
    margin-top: 100px;
    padding: 20px;

    .photo-div {
        position: relative;
        border-radius: 10px;
        background-image: url(/assets/img/IMG_3822.jpeg);
        height: 400px;
        width: 400px;
        background-size: cover;
        background-position: center bottom;
        margin: auto;

        h1 {
            display: flex;
            justify-content: start;
            position: absolute;
            top: 100%;
            font-size: 27px;
            color: white;
            font-weight: 400;
        }
    }
}

#about-me {
    margin-top: 200px;
    height: 500px;
    overflow:scroll;

    .third-container-header {
        display: flex;
        justify-content: center;

        h1 {
            color: $font-color;
            font-weight: 600;
            font-size: 60px;
            margin-left: 10px;
        }
    }

    article {
        color: white;
        font-weight: 400;


        section {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 35px;
            font-weight: 400;
            margin-left: 10px;
        }

        p {
            margin-top: 10px;
            text-align: center;
            color: white;
            font-weight: 300;
            font-size: 22px;
            line-height: 2rem;
            margin-left: 10px;
        }

        a {
            text-decoration: none;
            color: $font-color;
        }

        a:hover {
            opacity: .5;
        }
    }

    .icons{
        display: none;
    }
}

#portfolio {
    height: 800px;
    margin-top: 200px;

    h2 {
        font-size: 60px;
        color: $font-color;
        font-weight: 600;
    }

    h3 {
        text-align: center;
        font-size: 30px;
        color: white;
        font-weight: 400;
        margin-bottom: 50px;
    }

    p {
        font-size: 50px;
        color: white;
        font-weight: 300;
        margin-top: 100px;
    }

    /*PYTHON*/
    .main-container {
        position: relative;
        width: 300px;
        height: 200px;

        .python {
            position: absolute;
            width: 300px;
            height: 200px;
            transform-style: preserve-3d;
            transition: all 1500ms ease;
        }

        .python-front {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            background-image: url(/assets/img/pytohn-code.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 125%;
            box-shadow: 0 0 3px 1px rgba(50, 50, 50);

        }

        .python-back {
            position: absolute;
            width: 300px;
            height: 200px;
            border-radius: 20px;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);

            h1 {
                color: white;
                font-weight: 600;
            }

            p {
                margin: auto;
                text-align: center;
                padding-left: 8px;
                padding-right: 8px;
                font-size: 10px;
                line-height: 2rem;
                font-weight: 300;
            }

            .container-icon {
                color: white;
                font-size: 30px;
                margin-top: 10px;

                a {
                    text-decoration: none;
                    color: white;

                    .fa-github:hover {
                        color: orange;
                        font-size: 2rem;
                    }

                    .fa-linkedin:hover {
                        color: blue;
                        font-size: 2rem;
                    }
                }
            }
        }

        .python:hover {
            transform: rotateY(180deg);
        }
    }

    /*SOLIDITY*/
    .main-container {
        position: relative;
        width: 300px;
        height: 200px;

        .solidity {
            position: absolute;
            width: 300px;
            height: 200px;
            transform-style: preserve-3d;
            transition: all 1500ms ease;
        }

        .solidity-front {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            background-image: url(/assets/img/solidity.webp);
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 150%;
            box-shadow: 0 0 3px 1px rgba(50, 50, 50);
        }

        .solidity-back {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            transform: rotateY(180deg);
            box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

            h1 {
                color: white;
                font-weight: 600;
            }

            p {
                margin: auto;
                text-align: center;
                padding-left: 8px;
                padding-right: 8px;
                font-size: 10px;
                line-height: 2rem;
                font-weight: 300;
            }

            .container-icon {
                color: white;
                font-size: 30px;
                margin-top: 10px;

                a {
                    text-decoration: none;
                    color: white;

                    .fa-github:hover {
                        color: orange;
                        font-size: 2rem;
                    }

                    .fa-linkedin:hover {
                        color: blue;
                        font-size: 2rem;
                    }
                }
            }
        }

        .solidity:hover {
            transform: rotateY(180deg);
        }
    }

    /*ETHEREUM*/
    .main-container {
        position: relative;
        width: 300px;
        height: 200px;

        .ethereum {
            position: absolute;
            width: 300px;
            height: 200px;
            transform-style: preserve-3d;
            transition: all 1500ms ease;
        }

        .ethereum-front {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            background-image: url(/assets/img/ethereum.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 120%;
            box-shadow: 0 0 3px 1px rgba(50, 50, 50);
        }

        .ethereum-back {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            transform: rotateY(180deg);
            box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

            h1::before {
                color: white;
                font-weight: 600;
                text-align: center;
                content: "ETH Protocol";
            }

            p {
                margin: auto;
                text-align: center;
                padding-left: 8px;
                padding-right: 8px;
                font-size: 10px;
                line-height: 2rem;
                font-weight: 300;
            }

            .container-icon {
                color: white;
                font-size: 30px;
                margin-top: 10px;

                a {
                    text-decoration: none;
                    color: white;

                    .fa-github:hover {
                        color: orange;
                        font-size: 2rem;
                    }

                    .fa-linkedin:hover {
                        color: blue;
                        font-size: 2rem;
                    }
                }
            }
        }

        .ethereum:hover {
            transform: rotateY(180deg);
        }
    }

    /*HTML*/
    .main-container {
        position: relative;
        width: 300px;
        height: 200px;

        .html {
            position: absolute;
            width: 300px;
            height: 200px;
            transform-style: preserve-3d;
            transition: all 1500ms ease;
        }

        .html-front {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            background-image: url(/assets/img/html-css.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 140%;
            box-shadow: 0 0 3px 1px rgba(50, 50, 50);
        }

        .html-back {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            transform: rotateY(180deg);
            box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

            h1 {
                color: white;
                font-weight: 600;
            }

            p {
                margin: auto;
                text-align: center;
                padding-left: 8px;
                padding-right: 8px;
                font-size: 10px;
                line-height: 2rem;
                font-weight: 300;
            }

            .container-icon {
                color: white;
                font-size: 30px;
                margin-top: 10px;

                a {
                    text-decoration: none;
                    color: white;

                    .fa-github:hover {
                        color: orange;
                        font-size: 2rem;
                    }

                    .fa-linkedin:hover {
                        color: blue;
                        font-size: 2rem;
                    }
                }
            }
        }

        .html:hover {
            transform: rotateY(180deg);
        }

    }

    /*StayTuned*/
    .main-container {
        position: relative;
        width: 300px;
        height: 200px;

        .stay-tuned {
            position: absolute;
            width: 300px;
            height: 200px;
            transform-style: preserve-3d;
            transition: all 1500ms ease;
        }

        .stay-tuned-front {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            box-shadow: 0 0 3px 1px rgba(50, 50, 50);
        }

        .stay-tuned-back {
            position: absolute;
            width: 300px;
            height: 200px;
            backface-visibility: hidden;
            border-radius: 20px;
            transform: rotateY(180deg);
            box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

            h1 {
                color: white;
                font-weight: 600;
            }

            p {
                margin: auto;
                text-align: center;
                padding-left: 8px;
                padding-right: 8px;
                font-size: 10px;
                line-height: 2rem;
                font-weight: 300;
            }

            .container-icon {
                color: white;
                font-size: 30px;
                margin-top: 10px;

                a {
                    text-decoration: none;
                    color: white;

                    .fa-github:hover {
                        color: orange;
                        font-size: 2rem;
                    }

                    .fa-linkedin:hover {
                        color: blue;
                        font-size: 2rem;
                    }
                }
            }
        }

        .stay-tuned:hover {
            transform: rotateY(180deg);
        }

    }
}

#contact-me{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 800px;
        border-radius: 10px;
        padding: 10px;
        h2{
            font-size: 60px;
            color: white;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        h3{
            display: flex;
            justify-content: center;
            color: white;
            font-size: 40px;
            margin-bottom: 20px;
            text-align: center;
        }
        input,
        textarea{
            border: none;
            border-radius: 5px;
            margin: 10px 0;
            padding: 10px;
            outline: none;
            background-color: #f5f5f5;
            font-size: 16px;
        }
        button{
            padding: 15px;
            background-color: $font-color;
            border-radius: 10px;
            border: none;
            font-size: 22px;
            font-weight: 600;
            cursor: pointer;
        }

        button:hover{
            background-color: #ffc830;
        }
    }

}

#footer{
    .row{
        height: 100px;
        color: white;
        font-size: 15px;
        font-weight: 300;
    }
}


/*Scrollbar*/

::-webkit-scrollbar{
    width: .2rem;
}

::-webkit-scrollbar-track{
    background-color: $primary-color;
}

::-webkit-scrollbar-thumb{
    background-color: $font-color;
    border-radius: 100vh;
}

/*MEDIA Scrollbar*/
@media only screen and (max-width: 670px){
    ::-webkit-scrollbar{
        width: initial;
    }
    
    ::-webkit-scrollbar-track{
        background-color: initial;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: initial;
    }
}



/*@MEDIA NAV*/

@media only screen and (max-width: 800px) {
    nav {
        .mainMenu {
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            opacity: .9;
            transition: top 1500ms ease;

            li a {
                font-size: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .closeMenu {
                position: relative;
                top: 38%;
                display: block;
                font-size: 40px;
            }
        }

        .openMenu {
            display: block;
        }

        .mainMenu li a:hover {
            color: $font-color;
        }

        .mainMenu li a:active {
            font-size: 1.8rem;
        }

        .icons{

            i{
                display: inline;
                padding: 20px;
            }

            a{
                color: white;
            }
        }

        .fa-times:hover {
            color: red;
            opacity: .4;
        }

        .fa-minus:active {
            opacity: .8;
        }
    }
}

/*@MEDIA PHOTO HOME*/

@media only screen and (min-width: 801px) {
    .first-container-header {
        margin-top: 100px;

        .photo-div {
            position: relative;
            border-radius: 10px;
            background-image: url(/assets/img/IMG_3822.jpeg);
            height: 400px;
            width: 400px;
            background-size: cover;
            background-position: center bottom;
            margin: auto;

            h1 {
                font-size: 27px;
                color: white;
                font-weight: 400;
                position: absolute;
                top: 100%;
            }

            .photo-div-2 {
                position: absolute;
                border-radius: 10px;
                background-image: url(/assets/img/IMG_3822.jpeg);
                height: 400px;
                width: 400px;
                background-size: cover;
                background-position: center bottom;
                bottom: 5%;
                left: 5%;
                z-index: -1;
                opacity: .6;
            }

            .photo-div-3 {
                position: absolute;
                border-radius: 10px;
                background-image: url(/assets/img/IMG_3822.jpeg);
                height: 400px;
                width: 400px;
                background-size: cover;
                background-position: center bottom;
                bottom: 10%;
                left: 10%;
                z-index: -2;
                opacity: .2;
            }
        }
    }
}

/*@MEDIA ABOUT ME*/

@media only screen and (min-width: 1200px) {
    #about-me {
        overflow: hidden;
        height: 800px;
        position: relative;
        margin-top: 200px;
        display: flex;
        justify-content: end;

        .third-container-header {
            width: 700px;
            height: 800px;
            background-image: url(/assets/img/IMG_3822.jpeg);
            border-radius: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center bottom;

            h1 {
                position: absolute;
                left: 1%;
                top: 1%;
                color: $font-color;
                font-weight: 600;
                font-size: 80px;
            }
        }

        article {
            left: 1%;
            top: 18%;
            position: absolute;
            color: white;
            font-weight: 300;
            text-align: left;
            font-size: 20px;
            line-height: 3.5rem;

            section {
                text-align: start;
            }

            a {
                text-decoration: none;
                color: $font-color;
            }

            a:hover {
                opacity: .5;
            }

            section {
                font-size: 40px;
                font-weight: 400;
            }

            p {
                text-align: start;
                position: absolute;
                top: 100%;
                left: 1%;
                font-size: 20px;
                font-weight: 300;
                line-height: 3.5rem;

            }
        }

        .icons {
            display: flex;
            position: absolute;
            top: 95%;
            left: 2%;
            font-size: 30px;
            color: white;

            a{
                color: white;
            }

            p {
                font-size: 20px;
                margin-right: 20px;
                font-weight: 600;
            }

            .fa-github {
                position: absolute;
                bottom: 35%;
                left: 120%;
                margin-right: 20px;
            }

            .fa-instagram {
                position: absolute;
                bottom: 35%;
                left: 140%;
                margin-right: 20px;
            }

            .fa-linkedin {
                position: absolute;
                bottom: 35%;
                left: 100%;
                margin-right: 20px;
            }

            .fa-linkedin:hover {
                color: #4267B2;
            }

            .fa-instagram:hover {
                color: #C13584;
            }

            .fa-github:hover {
                color: orange;
            }

            .fa-linkedin:active {
                opacity: .5;
            }

            .fa-instagram:active {
                opacity: .5;
            }

            .fa-github:active {
                opacity: .5;
            }
        }

    }

    /*@MEDIA PORTFOLIO*/

    #portfolio {
        height: 800px;
        margin-top: 200px;

        h2 {
            font-size: 80px;
            color: $font-color;
            font-weight: 600;
        }

        h3 {
            font-size: 40px;
            color: white;
            font-weight: 400;
            margin-bottom: 50px;
        }

        p {
            font-size: 50px;
            color: white;
            font-weight: 300;
            margin-top: 100px;
        }

        /*PYTHON*/
        .main-container {
            position: relative;
            width: 400px;
            height: 200px;

            .python {
                position: absolute;
                width: 400px;
                height: 200px;
                transform-style: preserve-3d;
                transition: all 1500ms ease;
            }

            .python-front {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                background-image: url(/assets/img/pytohn-code.webp);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100%;
                box-shadow: 0 0 3px 1px rgba(50, 50, 50);

            }

            .python-back {
                position: absolute;
                width: 400px;
                height: 200px;
                border-radius: 20px;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);

                h1 {
                    color: white;
                    font-weight: 600;
                }

                p {
                    margin: auto;
                    text-align: center;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 13px;
                    line-height: 2.5rem;
                    font-weight: 300;
                }

                .container-icon {
                    color: white;
                    font-size: 30px;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        color: white;

                        .fa-github:hover {
                            color: orange;
                            font-size: 2rem;
                        }

                        .fa-linkedin:hover {
                            color: blue;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .python:hover {
                transform: rotateY(180deg);
            }
        }

        /*SOLIDITY*/
        .main-container {
            position: relative;
            width: 400px;
            height: 200px;

            .solidity {
                position: absolute;
                width: 400px;
                height: 200px;
                transform-style: preserve-3d;
                transition: all 1500ms ease;
            }

            .solidity-front {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                background-image: url(/assets/img/solidity.webp);
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: 100%;
                box-shadow: 0 0 3px 1px rgba(50, 50, 50);
            }

            .solidity-back {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                transform: rotateY(180deg);
                box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

                h1 {
                    color: white;
                    font-weight: 600;
                }

                p {
                    margin: auto;
                    text-align: center;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 13px;
                    line-height: 2.5rem;
                    font-weight: 300;
                }

                .container-icon {
                    color: white;
                    font-size: 30px;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        color: white;

                        .fa-github:hover {
                            color: orange;
                            font-size: 2rem;
                        }

                        .fa-linkedin:hover {
                            color: blue;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .solidity:hover {
                transform: rotateY(180deg);
            }
        }

        /*ETHEREUM*/
        .main-container {
            position: relative;
            width: 400px;
            height: 200px;

            .ethereum {
                position: absolute;
                width: 400px;
                height: 200px;
                transform-style: preserve-3d;
                transition: all 1500ms ease;
            }

            .ethereum-front {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                background-image: url(/assets/img/ethereum.webp);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100%;
                box-shadow: 0 0 3px 1px rgba(50, 50, 50);
            }

            .ethereum-back {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                transform: rotateY(180deg);
                box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

                h1::before {
                    color: white;
                    font-weight: 600;
                    text-align: center;
                    content: "Ethereum Protocol";
                }

                p {
                    margin: auto;
                    text-align: center;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 13px;
                    line-height: 2.5rem;
                    font-weight: 300;
                }

                .container-icon {
                    color: white;
                    font-size: 30px;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        color: white;

                        .fa-github:hover {
                            color: orange;
                            font-size: 2rem;
                        }

                        .fa-linkedin:hover {
                            color: blue;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .ethereum:hover {
                transform: rotateY(180deg);
            }
        }

        /*HTML*/
        .main-container {
            position: relative;
            width: 400px;
            height: 200px;

            .html {
                position: absolute;
                width: 400px;
                height: 200px;
                transform-style: preserve-3d;
                transition: all 1500ms ease;
            }

            .html-front {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                background-image: url(/assets/img/html-css.webp);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100%;
                box-shadow: 0 0 3px 1px rgba(50, 50, 50);
            }

            .html-back {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                transform: rotateY(180deg);
                box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

                h1 {
                    color: white;
                    font-weight: 600;
                }

                p {
                    margin: auto;
                    text-align: center;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 13px;
                    line-height: 2.5rem;
                    font-weight: 300;
                }

                .container-icon {
                    color: white;
                    font-size: 30px;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        color: white;

                        .fa-github:hover {
                            color: orange;
                            font-size: 2rem;
                        }

                        .fa-linkedin:hover {
                            color: blue;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .html:hover {
                transform: rotateY(180deg);
            }

        }

        /*StayTuned*/
        .main-container {
            position: relative;
            width: 400px;
            height: 200px;

            .stay-tuned {
                position: absolute;
                width: 400px;
                height: 200px;
                transform-style: preserve-3d;
                transition: all 1500ms ease;
            }

            .stay-tuned-front {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                background-image: none;
                border-radius: 20px;
                box-shadow: 0 0 3px 1px rgba(50, 50, 50);
            }

            .stay-tuned-back {
                position: absolute;
                width: 400px;
                height: 200px;
                backface-visibility: hidden;
                border-radius: 20px;
                transform: rotateY(180deg);
                box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.25);

                h1 {
                    color: white;
                    font-weight: 600;
                }

                p {
                    margin: auto;
                    text-align: center;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 13px;
                    line-height: 2.5rem;
                    font-weight: 300;
                }

                .container-icon {
                    color: white;
                    font-size: 30px;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        color: white;

                        .fa-github:hover {
                            color: orange;
                            font-size: 2rem;
                        }

                        .fa-linkedin:hover {
                            color: blue;
                            font-size: 2rem;
                        }

                    }

                }
            }

            .stay-tuned:hover {
                transform: rotateY(180deg);
            }
        }
    }
}


